<div class="container" id="firstsec">
        <p-toast position="top-left"></p-toast>
  <form [formGroup]="addBlogForm" (ngSubmit)="onAddBlog()">
      <input class="col-md-7 form-control" formControlName="blogTitle" type="text" id="blogTitle" placeholder="Blog Title">
      <div *ngIf="addBlogForm.controls['blogTitle'].touched && !addBlogForm.controls['blogTitle'].valid">  
        <span *ngIf="addBlogForm.controls['blogTitle'].hasError('required') ">  
            Blog Title is required  
            </span>  
            <span *ngIf="addBlogForm.controls['blogTitle'].hasError('minlength') ">  
             Min length is 5  
            </span>  
            <span *ngIf="addBlogForm.controls['blogTitle'].hasError('maxlength') ">  
            max length is 50  
        </span>  
    </div>
      <input class="col-md-7" type="file" id="blogImage" (change)="onBlogImage($event)" #fileInput required>  
      <!-- <p-editor formControlName="des" [style]="{'height':'320px'}"></p-editor> -->
      <!-- <p-editor formControlName="des" [style]="{'height':'320px'}"></p-editor> -->
      <!-- <div [froalaEditor]>Hello, Froala!</div> -->
      <textarea rows="6" cols="100" formControlName="des" type="text" id="des" class="col-md-7 form-control" placeholder="Blog's Description"></textarea>
      <div *ngIf="addBlogForm.controls['des'].touched && !addBlogForm.controls['des'].valid">  
        <span *ngIf="addBlogForm.controls['des'].hasError('required') ">  
            Blog description is required  
            </span>  
            <span *ngIf="addBlogForm.controls['des'].hasError('minlength') ">  
             Min length is 20  
            </span>  
            <span *ngIf="addBlogForm.controls['des'].hasError('maxlength') ">  
            max length is 200 
        </span>  
    </div>
      <button class="btn btn-danger" [disabled]='!addBlogForm.valid' type="submit" id="bbtn">Post Blog</button>
  </form>
</div>
