#firstsec{
    padding-top: 200px;
    padding-left: 300px; 
    background-image: url("../../../../../../assets/images/blur-book-stack-books-590493.jpg");
    background-size: cover;
    min-height: 100%; 
    
}
#blogImage{
    margin-top: 20px;
}
#des{
    margin-top: 20px;
}
#bbtn{
    margin-top: 20px
}