<!-- <div class="wrapper">

  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Hey {{name}}</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Admin Dashboard</p>
          <li >
            <a routerLink="/authentication/success/admin">Home</a>
          <li>
              <a routerLink='/authentication/success/admin/manageproduct/listproduct'>Manage Products</a>
          </li>
          <li>
            <a routerLink="/authentication/success/admin/manageusers/userlist">Manage users</a>
          </li>
          <li>
              <a routerLink="/authentication/success/admin/manageblogs/listblogs">Manage Blogs</a>
          </li>
          <li>
              <a routerLink="#">Contact</a>
          </li>
          <li>
            <a (click)="logout()">Log Out</a>
        </li>
      </ul>
  </nav>
</div>

 -->


 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
     
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a >
                        Hey {{name}}
                    </a>
                </li>
                <li>
                    <a routerLink="/authentication/success/admin"><i class="fa fa-bars" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li>
                    <a routerLink='/authentication/success/admin/manageproduct/listproduct'><i class="fa fa-cubes" aria-hidden="true"></i> Manage Products</a>
                </li>
                <li>
                    <a routerLink="/authentication/success/admin/manageusers/userlist"><i class="fa fa-users" aria-hidden="true"></i> Manage users</a>
                </li>
                <li>
                    <a routerLink="/authentication/success/admin/manageblogs/listblogs"><i class="fa fa-quote-right" aria-hidden="true"></i> Manage Blogs</a>
                </li>
                <li>
                    <a><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
                </li>
                <li>
                    <a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
     
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->