<div class="container">
  <form [formGroup]="addShippingForm" (ngSubmit)="addShipping()">
    <div class="row" id="firstsec">
      <input type="text" class="form-control col-md-4" formControlName="fullName" placeholder="Full Name">
      <div *ngIf="addShippingForm.controls['fullName'].touched && !addShippingForm.controls['fullName'].valid">  
        <span *ngIf="addShippingForm.controls['fullName'].hasError('required') ">  
            Fullname is required  
            </span>  
            <span *ngIf="addShippingForm.controls['fullName'].hasError('minlength') ">  
             Min length is 3  
            </span>  
            <span *ngIf="addShippingForm.controls['fullName'].hasError('maxlength') ">  
            max length is 30  
        </span>  
    </div>
      <input type="number" class="form-control col-md-4" formControlName="contact" placeholder="Contact Number">

      <div *ngIf="addShippingForm.controls['contact'].touched && !addShippingForm.controls['contact'].valid">  
        <span *ngIf="addShippingForm.controls['contact'].hasError('required') ">  
            Contact is required  
            </span>  
            <span *ngIf="addShippingForm.controls['contact'].hasError('minlength') ">  
             Min length is 10  
            </span>  
            <span *ngIf="addShippingForm.controls['contact'].hasError('maxlength') ">  
            max length is 10  
        </span>  
    </div>

    </div>
    <input type="email" class="form-control col-md-5" formControlName="email" placeholder="Email">

    <div *ngIf="addShippingForm.controls['email'].touched && !addShippingForm.controls['email'].valid">  
      <span *ngIf="addShippingForm.controls['email'].hasError('required') ">  
          Email is required  
          </span>  
          <span *ngIf="addShippingForm.controls['email'].hasError('minlength') ">  
           Min length is 3  
          </span>  
          <span *ngIf="addShippingForm.controls['email'].hasError('maxlength') ">  
          max length is 30  
      </span>  
  </div>

    <input type="text" class="form-control col-md-9" formControlName="addressLine1" placeholder="Address Line 1">

    <div *ngIf="addShippingForm.controls['addressLine1'].touched && !addShippingForm.controls['addressLine1'].valid">  
      <span *ngIf="addShippingForm.controls['addressLine1'].hasError('required') ">  
          Address Line 1 is required  
          </span>  
          <span *ngIf="addShippingForm.controls['addressLine1'].hasError('minlength') ">  
           Min length is 3  
          </span>  
          <span *ngIf="addShippingForm.controls['addressLine1'].hasError('maxlength') ">  
          max length is 30  
      </span>  
  </div>


    <input type="text" class="form-control col-md-9" formControlName="addressLine2" placeholder="Address Line 2">

    <div *ngIf="addShippingForm.controls['addressLine2'].touched && !addShippingForm.controls['addressLine2'].valid">  
      <span *ngIf="addShippingForm.controls['addressLine2'].hasError('required') ">  
          Address Line 2 is required  
          </span>  
          <span *ngIf="addShippingForm.controls['addressLine2'].hasError('minlength') ">  
           Min length is 3  
          </span>  
          <span *ngIf="addShippingForm.controls['addressLine2'].hasError('maxlength') ">  
          max length is 30  
      </span>  
  </div>

    <div class="row" id="firstsec">
      <input type="text" class="form-control col-md-4" formControlName="city" placeholder="City">

      <div *ngIf="addShippingForm.controls['city'].touched && !addShippingForm.controls['city'].valid">  
        <span *ngIf="addShippingForm.controls['city'].hasError('required') ">  
            City is required  
            </span>  
            <span *ngIf="addShippingForm.controls['city'].hasError('minlength') ">  
             Min length is 3  
            </span>  
            <span *ngIf="addShippingForm.controls['city'].hasError('maxlength') ">  
            max length is 30  
        </span>  
    </div>

      <input type="number" class="form-control col-md-4" formControlName="zipcode" placeholder="Zipcode">

      <div *ngIf="addShippingForm.controls['zipcode'].touched && !addShippingForm.controls['zipcode'].valid">  
        <span *ngIf="addShippingForm.controls['zipcode'].hasError('required') ">  
          Zipcode is required  
            </span>  
            <span *ngIf="addShippingForm.controls['zipcode'].hasError('minlength') ">  
             Min length is 6  
            </span>  
            <span *ngIf="addShippingForm.controls['zipcode'].hasError('maxlength') ">  
            max length is 6  
        </span>  
    </div>

    </div>
    <div class="row" id="firstsec">
      <input type="text" class="form-control col-md-4" formControlName="state" placeholder="State">

      <div *ngIf="addShippingForm.controls['state'].touched && !addShippingForm.controls['state'].valid">  
        <span *ngIf="addShippingForm.controls['state'].hasError('required') ">  
          State is required  
            </span>  
            <span *ngIf="addShippingForm.controls['state'].hasError('minlength') ">  
             Min length is 3  
            </span>  
            <span *ngIf="addShippingForm.controls['state'].hasError('maxlength') ">  
            max length is 30  
        </span>  
    </div>

      <input type="text" class="form-control col-md-4" formControlName="country" placeholder="Country">


      <div *ngIf="addShippingForm.controls['state'].touched && !addShippingForm.controls['state'].valid">  
        <span *ngIf="addShippingForm.controls['state'].hasError('required') ">  
          Country is required  
            </span>  
            <span *ngIf="addShippingForm.controls['state'].hasError('minlength') ">  
             Min length is 3  
            </span>  
            <span *ngIf="addShippingForm.controls['state'].hasError('maxlength') ">  
            max length is 30  
        </span>  
    </div>

    </div>

    <button type="submit" (click)="openForm()" [disabled]="!addShippingForm.valid" class="btn btn-danger pull-right">Proceed to Payment</button>
  </form>
</div>

<div id="payment" class="form-popup">
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" style="width: 500px" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <button type="submit">Pay {{amt | currency}}</button>
  </form>
</div>