<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide">CUSH</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a routerLink="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a routerLink='/authentication/login' class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
        <a routerLink='/authentication/signup' class="w3-bar-item w3-button"><i class="fa fa-th"></i> SIGNUP</a>
        <a routerLink='/about' class="w3-bar-item w3-button"><i class="fa fa-info"></i> ABOUT</a>
        <a routerLink='/contact' class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a> -->
    </div>
  </div>
