<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="w3-top">
    <!-- <p-toast position="top-right"></p-toast> -->
    <div class="w3-bar w3-black w3-card" id="myNavbar">
      <a routerLink="/" class="w3-bar-item w3-button w3-wide">CUSH</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
          <a routerLink="/authentication/success/user/perfumes" class="w3-bar-item w3-button"><i class="fa fa-cubes"></i> PERFUMES</a>
        <a routerLink="/authentication/success/user/blogs" class="w3-bar-item w3-button"><i class="fa fa-quote-right"></i> BLOGS</a>
        <a routerLink="/authentication/success/user/cart" class="w3-bar-item w3-button"><i class="fa fa-cart-plus"></i> CART[{{cartL}}]</a>
        <a (click)="logout()" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> SIGNOUT</a>
        <a class="w3-bar-item w3-button"> Hey {{name}}</a>
        <!-- <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a> -->
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a> -->
    </div>
  </div>

  <!-- <mat-card class="example-card" *ngFor="let entry of productList"> -->
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <!-- <img mat-card-image src="../../../../../..{{entry.imagePath}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h1>PRICE:{{entry.productCost}}</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

  <!--Card-->
  <!-- <div class="row" id="plist">
    <div class="col-md-3" *ngFor="let entry of productList" id="insideDiv">
<div class="card"> -->

    <!--Card image-->
    <!-- <img class="img-fluid" src="../../../../../..{{entry.imagePath}}" alt="Card image cap"> -->
    <!--/.Card image-->

    <!--Card content-->
    <!-- <div class="card-block"> -->
        <!--Title-->
        <!-- <h4 class="card-title">{{entry.productName}}</h4> -->
        <!--Text-->
        <!-- <p class="card-text">PRICE: {{entry.productCost}}</p>
        <a href="#" class="btn btn-primary" ripple-radius>Button</a>
    </div> -->
    <!--/.Card content-->

 <!-- </div>
</div>
</div> -->
<div class="sec">
<router-outlet></router-outlet>
</div>
<footer>
<app-global-footer></app-global-footer>
</footer>
 <!--/.Card-->