
<body>
  <form [formGroup]="addProductForm" (ngSubmit)="onAdd()">
      <div class="container">
          <div class="form-group">
              
                  <h5>Product Name</h5>
                  <input class="form-control col-md-6" formControlName="productName" id="productName" type="text" placeholder="Product Name">
                  <div *ngIf="addProductForm.controls['productName'].touched && !addProductForm.controls['productName'].valid">  
                    <span *ngIf="addProductForm.controls['productName'].hasError('required') ">  
                        Product Name is required  
                        </span>  
                        <span *ngIf="addProductForm.controls['productName'].hasError('minlength') ">  
                         Min length is 3  
                        </span>  
                        <span *ngIf="addProductForm.controls['productName'].hasError('maxlength') ">  
                        max length is 30  
                    </span>  
                </div>
                  
          </div>
          <div class="form-group">
                    <h5>Product cost</h5>
                  <input class="form-control col-md-6" id="productCost" formControlName="productCost" type="number" placeholder="Product Cost">
                  <div *ngIf="addProductForm.controls['productCost'].touched && !addProductForm.controls['productCost'].valid">  
                    <span *ngIf="addProductForm.controls['productCost'].hasError('required') ">  
                        Product cost is required  
                        </span>  
                        <span *ngIf="addProductForm.controls['productCost'].hasError('minlength') ">  
                         Min length is 3  
                        </span>  
                        <span *ngIf="addProductForm.controls['productCost'].hasError('maxlength') ">  
                        max length is 30  
                    </span>  
                </div>
            </div>
            
             
          
         
          
          <div class="form-group">
              
                  <h5>Status</h5>
                  <input class="form-control col-md-6" id="status" formControlName="status" type="text" placeholder="Status">
                  <div *ngIf="addProductForm.controls['status'].touched && !addProductForm.controls['status'].valid">  
                    <span *ngIf="addProductForm.controls['status'].hasError('required') ">  
                       Status is required  
                        </span>  
                        <span *ngIf="addProductForm.controls['status'].hasError('minlength') ">  
                         Min length is 3  
                        </span>  
                        <span *ngIf="addProductForm.controls['status'].hasError('maxlength') ">  
                        max length is 30  
                    </span>  
                </div>
              </div>
              <div class="form-group">
               
                    <h5>Description</h5>
                    <input class="form-control col-md-6" id="description" formControlName="description" type="text" placeholder="Desscription">
                    <div *ngIf="addProductForm.controls['description'].touched && !addProductForm.controls['description'].valid">  
                        <span *ngIf="addProductForm.controls['description'].hasError('required') ">  
                           Description is required  
                            </span>  
                            <span *ngIf="addProductForm.controls['description'].hasError('minlength') ">  
                             Min length is 3  
                            </span>  
                            <span *ngIf="addProductForm.controls['description'].hasError('maxlength') ">  
                            max length is 30  
                        </span>  
                    </div>
                </div>
           
          <div class="form-group">
            <div class="col-md-6 form-group">
                <label for="file">Choose File</label>
                <input type="file" id="imagePath" (change)="onFileChange($event)" #fileInput>
            </div>
          </div>
          <div class="form-group">
              <div class="col-md-6">
                  <button type="submit" [disabled]='!addProductForm.valid' id="submitbtn">Submit</button>
              </div>
          </div>
      </div>
  </form>
</body>

