<form [formGroup]="updateProductForm" (ngSubmit)="onUpdate()">
  <label>Product Name</label>
  <input class="form-control col-md-6" type="text" id="productName" formControlName="productName" placeholder="Product Name">
  <label>Product Cost</label>
  <input class="form-control col-md-6" type="number" id="productCost" formControlName="productCost" placeholder="Product Cost">
  <!-- <label>Shipping Cost</label>
  <input type="number" id="shippingCost" formControlName="shippingCost" placeholder="Shipping Cost"> -->
  <label>Status</label>
  <input class="form-control col-md-6" type="text" id="status" formControlName="status" placeholder="Status">
  <label>Description</label>
  <textarea class="form-control" type="text" id="description" formControlName="description" placeholder="Description" cols="7" rows="5" ></textarea>
  <label for="file">Choose File</label>
  <input type="file" id="imagePath" formControlName="imagePath" (change)="onFileChange($event)" #fileInput>
  <button type="submit" class='btn btn-danger'>update</button>
  </form>
  