<div class="main">
    <span>
        <button type="button" id="add" class="btn btn-danger pull-right" routerLink='/authentication/success/admin/manageblogs/addblogs'><i class="fa fa-plus-square" aria-hidden="true"></i></button>
        <h3>List of Products</h3>
      </span>

  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Blog Title</th>
        <th scope="col">Blogger's Image</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Delete/Update</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger" *ngFor="let entry of blogList">
        <td id="title">{{entry.blogTitle}}</td>
        <td>
          <img src="{{entry.blogImage}}">
        </td>
        <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custom">
          <td>{{entry.des}}</td>
        </p-scrollPanel>
        <td>{{entry.date | date:'mediumDate'}}</td>
        <td>
          <span>
            <button class="btn btn-danger btn-sm" (click)='delete(entry._id)'><i class="fa fa-trash-o"></i></button>								
          </span>
          <span>
            <button id="editBtn" class="btn btn-info btn-sm" [routerLink]="['/authentication/success/admin/manageblogs/updateblogs',entry._id]"><i class="fa fa-pencil-square-o"></i></button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>


 