<!-- <head>
  <title>Creative Colorlib SignUp Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
  <!-- Custom Theme files -->
  <!-- <link rel="stylesheet" type="text/css" media="all" /> -->
  <!-- //Custom Theme files -->
  <!-- web font -->
  <!-- <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet"> -->
  <!-- //web font -->
  <!-- </head>
  <body> -->
    <!-- main -->
    <!-- <div>
    <app-global-header></app-global-header>
  </div>
    <div class="main-w3layouts wrapper">
      <h1>SignUp</h1>
      <div class="main-agileinfo">
        <div class="agileits-top">
          <form [formGroup]="sForm" (ngSubmit)="onSignUp()">
            <input class="text" type="text" formControlName="fname" placeholder="Full Name">
            <div *ngIf="sForm.controls['fname'].touched && !sForm.controls['fname'].valid">  
              <span *ngIf="sForm.controls['fname'].hasError('required') ">  
                  First name is required  
                  </span>  
                  <span *ngIf="sForm.controls['fname'].hasError('minlength') ">  
                   Min length is 2  
                  </span>  
                  <span *ngIf="sForm.controls['fname'].hasError('maxlength') ">  
                  max length is 15  
              </span>  
          </div>
            <input class="text email" type="email" formControlName="email" placeholder="Email" >
            <div *ngIf="sForm.controls['email'].touched && !sForm.controls['email'].valid">  
              <span *ngIf="sForm.controls['email'].hasError('required') ">  
                  Email is required  
                  </span> 
                  <span *ngIf="sForm.controls['uName'].hasError('pattern') ">  
                    Enter proper email address 
                   </span>    
          </div>
            <input class="text" type="text" formControlName="uName" placeholder="UserName">
            <div *ngIf="sForm.controls['uName'].touched && !sForm.controls['uName'].valid">  
              <span *ngIf="sForm.controls['uName'].hasError('required') ">  
                 Username is required  
                  </span>  
                  <span *ngIf="sForm.controls['uName'].hasError('minlength') ">  
                   Min length is 2  
                  </span>  
                  <span *ngIf="sForm.controls['uName'].hasError('maxlength') ">  
                  max length is 15  
              </span>  
          </div>
            <input class="text w3lpass" type="password" formControlName="psword" placeholder="Password">
            <div *ngIf="sForm.controls['psword'].touched && !sForm.controls['psword'].valid">   -->
              <!-- <span *ngIf="sForm.controls['psword'].hasError('required') ">  
                 Password is required  
                  </span>   
          </div>
            <div class="wthree-text">
              <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I Agree To The Terms & Conditions</span>
              </label>
              <div class="clear"> </div>
            </div>
            <input type="submit" [disabled]='!sForm.valid'>
          </form>
          <p>Have an Account? <a routerLink="/authentication/login"> Login Now!</a></p>
        </div>
      </div> -->
      <!-- copyright -->
      <!-- <div class="colorlibcopy-agile">
        <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
      </div> -->
      <!-- //copyright -->
      <!-- <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div> -->
    <!-- //main -->
  <!-- </body> -->

  <app-global-header></app-global-header>
  <head>
      <title>Creative Colorlib SignUp Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <!-- Custom Theme files -->
      <link rel="stylesheet" type="text/css" media="all" />
      <!-- //Custom Theme files -->
      <!-- web font -->
      <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
      <!-- //web font -->
      </head>
      <body>
        <!-- main -->
        <div class="main-w3layouts wrapper">
          <h1>Sign Up</h1>
          <div class="main-agileinfo">
            <div class="agileits-top">
              <form [formGroup]="sForm" (ngSubmit)="onSignUp()">
                <input class="text" type="text" formControlName="fname" placeholder="Full Name" required>
                <div *ngIf="sForm.controls['fname'].touched && !sForm.controls['fname'].valid">  
                    <span *ngIf="sForm.controls['fname'].hasError('required') ">  
                        Fullname is required  
                        </span>  
                        <span *ngIf="sForm.controls['fname'].hasError('minlength') ">  
                         Min length is 2  
                        </span>  
                        <span *ngIf="sForm.controls['fname'].hasError('maxlength') ">  
                        max length is 15  
                    </span>  
                </div> 
                <input class="text email" type="email" formControlName="email" placeholder="Email" required>
                <div *ngIf="sForm.controls['email'].touched && !sForm.controls['email'].valid">  
                    <span *ngIf="sForm.controls['email'].hasError('required') ">  
                        Email is required  
                    </span> 
                 </div>
                <input class="text" type="text" formControlName="uName" placeholder="UserName" required>
                <div *ngIf="sForm.controls['uName'].touched && !sForm.controls['uName'].valid">  
                    <span *ngIf="sForm.controls['uName'].hasError('required') ">  
                        User name is required  
                        </span>  
                        <span *ngIf="sForm.controls['uName'].hasError('minlength') ">  
                         Min length is 2  
                        </span>  
                        <span *ngIf="sForm.controls['uName'].hasError('maxlength') ">  
                        max length is 30  
                    </span>  
                </div> 
                <input class="text w3lpass" type="password" formControlName="psword" placeholder="Password" required>
                <div *ngIf="sForm.controls['psword'].touched && !sForm.controls['psword'].valid">   
                     <span *ngIf="sForm.controls['psword'].hasError('required') ">  
                       Password is required  
                        </span>   
                </div>
                <div class="wthree-text">
                  <!-- <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                  </label> -->
                  <div class="clear"> </div>
                </div>
                <input type="submit" [disabled]='!sForm.valid'>
              </form>
              <p>Have an Account? <a routerLink="/authentication/login"> Login Now!</a></p>
            </div>
          </div>
          <!-- copyright -->
          <div class="colorlibcopy-agile">
            <!-- <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p> -->
          </div>
          <!-- //copyright -->
          <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- //main -->
      </body>

      
    
  
