<form [formGroup]="updateUserForm" (ngSubmit)="onUpdate()">

  <div class="main">
  <input type="text" class="form-control col-md-6" formControlName="newFullName" placeholder="Fullname">

  <input type="text" class="form-control col-md-6" formControlName="newUsername" placeholder="Username">

  <input type="text" class="form-control col-md-6" formControlName="newPassword" placeholder="Password">

  <input type="text" class="form-control col-md-6" formControlName="newEmail" placeholder="Email">

  <input type="text" class="form-control col-md-6" formControlName="newisDeactive" placeholder="active or deactive">

</div>
<div id="role">
  <p>Role: </p>
      <input type="radio" value="user" formControlName="newRole"> User<br>
      <input type="radio" value="admin" formControlName="newRole" > Admin<br> 
      <div *ngIf="updateUserForm.get('newRole').invalid">
        required
      </div>
    </div>
    

  <button type="submit" class='btn btn-danger'>update</button>
</form>