.main{
    margin-top: 20px;
    margin-left: 50px
}
input[type="text"]{
    margin-top: 20px
}
p{
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 20px
}
input[type="radio"]{
    margin-left: 50px
}
button{
    margin-left: 300px
}