/* #plist{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px
} */
/* #insideDiv{
    margin-top: 60px
} */

/* table{
    margin-top: 40px;
    margin-left: 40px
} */
#search{
    margin-top: 50px

}
#des{
    margin-top: 10px
}
#price{
    font-weight: bold;
    margin: 10px
}