<!-- <div class="ui-md-4" id="search">
    <div class="ui-inputgroup">
        <button pButton type="button" label="Search" (click)="myFunction()">Search</button>
        <input type="text" id="search" pInputText placeholder="Keyword">         
    </div>
</div> -->
<div class="row" id="plist">
        <p-toast position="top-right"></p-toast>
    <div class="col-md-3" *ngFor="let entry of productList" id="insideDiv">
<!-- <div class="card"> -->
<p-card>
    <!--Card image-->
    <img class="img-fluid" src="{{entry.imagePath}}" alt="Card image cap">
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{entry.productName}}</h4>
        <!--Text-->
        <p-scrollPanel [style]="{width: '100%', height: '100px'}" styleClass="custom">
        <p id="des">{{entry.description}}</p>
        </p-scrollPanel>
        <p class="card-text" id="price">PRICE:  {{entry.productCost | currency}}</p>
        <a type="submit" (click)="addToCart(entry)" class="btn btn-primary" ripple-radius>Add to Cart</a>
    </div>
    <!--/.Card content-->
</p-card>
 <!-- </div> -->
</div>
</div>