<head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    </head>
    <body>
      <!-- main -->
      <div class="main-w3layouts wrapper">
        <h1>Add User</h1>
        <div class="main-agileinfo">
          <div class="agileits-top">
            <form [formGroup]="sForm" (ngSubmit)="onAddUser()">
              <input class="text" type="text" formControlName="newfname" placeholder="Full Name" required="">
              <div *ngIf="sForm.controls['newfname'].touched && !sForm.controls['newfname'].valid">  
                  <span *ngIf="sForm.controls['newfname'].hasError('required') ">  
                      Fullname is required  
                      </span>  
                      <span *ngIf="sForm.controls['newfname'].hasError('minlength') ">  
                       Min length is 2  
                      </span>  
                      <span *ngIf="sForm.controls['newfname'].hasError('maxlength') ">  
                      max length is 15  
                  </span>  
              </div> 
              <input class="text email" type="email" formControlName="newemail" placeholder="Email" required="">
              <div *ngIf="sForm.controls['newemail'].touched && !sForm.controls['newemail'].valid">  
                  <span *ngIf="sForm.controls['newemail'].hasError('required') ">  
                      Email is required  
                  </span> 
               </div>
              <input class="text" type="text" formControlName="newrole" placeholder="Role" required="">
              <input class="text" type="text" formControlName="newisDeactive" placeholder="Active/Deactive" required="">
              <input class="text" type="text" formControlName="newuName" placeholder="UserName" required="">
              <div *ngIf="sForm.controls['newuName'].touched && !sForm.controls['newuName'].valid">  
                  <span *ngIf="sForm.controls['newuName'].hasError('required') ">  
                      User name is required  
                      </span>  
                      <span *ngIf="sForm.controls['newuName'].hasError('minlength') ">  
                       Min length is 2  
                      </span>  
                      <span *ngIf="sForm.controls['newuName'].hasError('maxlength') ">  
                      max length is 30  
                  </span>  
              </div> 
              <input class="text w3lpass" type="password" formControlName="newpsword" placeholder="Password" required="">
              <div class="wthree-text">
                <label class="anim">
                  <input type="checkbox" class="checkbox" required="">
                  <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
              </div>
              <input type="submit">
            </form>
            <p>Have an Account? <a routerLink="/authentication/login"> Login Now!</a></p>
          </div>
        </div>
        <!-- copyright -->
        <div class="colorlibcopy-agile">
          <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
        </div>
        <!-- //copyright -->
        <ul class="colorlib-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <!-- //main -->
    </body>
    
  