<div class="container" id="firstsec">
  <form [formGroup]="updateBlogForm" (ngSubmit)="onUpdateBlog()">
      <input class="col-md-7 form-control" formControlName="blogTitle" type="text" id="blogTitle" placeholder="Blog Title">
      <input class="col-md-7" type="file" id="blogImage" (change)="onBlogImage($event)" #fileInput>  
      <textarea rows="6" cols="100" formControlName="des" type="text" id="des" class="col-md-7 form-control" placeholder="Blog's Description"></textarea>
      <button class="btn btn-danger" type="submit" id="bbtn">Update Blog</button>
  </form>
</div>