<!-- <div class="row">
  <p-card class="col-md-5" routerLink='/authentication/success/admin/manageproduct/listproduct'>
     <img src="../../../../../assets/images/products.jpg" style="width: 280px;height: 272px;">
     <h1>Manage Products</h1> 
  </p-card>
  <p-card class="col-md-5" routerLink="/authentication/success/admin/manageusers/userlist">
      <img src="../../../../../assets/images/users.png" style="width: 272px;height: 272px;">
      <h1>Manage Users</h1> 
  </p-card >
  <p-card class="col-md-5" id="last" routerLink="/authentication/success/admin/manageblogs/listblogs">
      <img src="../../../../../assets/images/blogs.jpg" style="width: 272px;height: 272px;">
      <h1>Manage Blogs</h1> 
  </p-card>
</div> -->


<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
