<div class="main">
<span>
 
  <button type="button" id="add" class="btn btn-danger pull-right" routerLink='/authentication/success/admin/manageusers/adduser'><i class="fa fa-plus-square" aria-hidden="true"></i></button>
  <h3>List of Users</h3>
</span>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Delete/Update</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger" *ngFor="let entry of userList">
      <td>{{entry.fullName}}</td>
      <td>{{entry.email}}</td>
      <td>{{entry.username}}</td>
      <td>{{entry.password}}</td>
      <td>{{entry.role}}</td>
      <td>{{entry.isDeactive}}</td>
      <td><span><button type="button" class="btn btn-danger btn-sm" (click)='delete(entry._id)'><i class="fa fa-trash-o"></i></button></span>
        <span><button type="button" id="editBtn" [routerLink]="['/authentication/success/admin/manageusers/updateuser',entry._id]" class="btn btn-info btn-sm"><i class="fa fa-pencil-square-o"></i></button></span>
        <span><button type="button" id="editBtn" class="btn btn-danger" (click)='deactivate(entry._id)'>Activate/Deactivate</button></span></td>
    </tr>
  </tbody>
</table>
</div>
