<div class="row" id="plist">
    <div class="col-md-6" *ngFor="let entry of blogList" id="insideDiv">
<!-- <div class="card"> -->
<div>
    <h2 class="card-title">{{entry.blogTitle}}</h2>
    <!--Card image-->
    <img class="img-fluid" src="{{entry.blogImage}}" alt="Card image cap">
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
       
        <!--Text-->
        <!-- <h4 class="card-text">Interested? Click to read more</h4> -->
        <!-- <form [formGroup]="addCommentForm" (ngSubmit)="onAddBlog()">
        <input type="text" icon="fa-paper-plane" class="form-control" placeholder="Add a comment" id="comment" formControlName="comment" >
    </form> -->
        <a class="btn btn-primary" id="readMore" [routerLink]="['/authentication/success/user/blogdetails',entry._id]" ripple-radius>Read More...</a>
        <!-- <a class="btn btn-primary"  id="postComment" ripple-radius>Post Comment</a> -->
    </div>
    <!--/.Card content-->
</div>
 <!-- </div> -->
</div>
</div>