<div class="main">
<span>
    <button type="button" id="add" class="btn btn-danger pull-right" routerLink='/authentication/success/admin/manageproduct/addproduct'><i class="fa fa-plus-square" aria-hidden="true"></i></button>
    <h3>List of Products</h3>
  </span>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <!-- <th scope="col">Product Owner</th> -->
      <th scope="col">Product Cost</th>
      <th scope="col">Shipping Cost</th>
      <!-- <th scope="col">Shipping Address</th> -->
      <!-- <th scope="col">Phone Number</th> -->
      <th scope="col">Status</th>
      <th scope="col">Description</th>
      <!-- <th scope="col">Date</th> -->
      <th scope="col">Delete/Update</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger" *ngFor="let entry of productList">
      <td>{{entry.productName}}</td>
      <td><img src="{{entry.imagePath}}"></td>
      <!-- <td>{{entry.productOwner}}</td> -->
      <td> ${{entry.productCost}}</td>
      <td> ${{entry.shippingCost}}</td>
      <!-- <td>{{entry.shippingAddress}}</td> -->
      <!-- <td>{{entry.phoneNumber}}</td> -->
      <td>{{entry.status}}</td>
      <td>{{entry.description}}</td>
      <!-- <td>{{entry.date}}</td> -->
      <td><span><button type="submit" class="btn btn-danger btn-sm" (click)='delete(entry._id)'><i class="fa fa-trash-o"></i></button></span><span><button type="button" id="editBtn" [routerLink]="['/authentication/success/admin/manageproduct/updateproduct',entry._id]" class="btn btn-info btn-sm"><i class="fa fa-pencil-square-o"></i></button></span></td>
    </tr>
  </tbody>
</table>
</div>

