<!-- <div>
    <app-global-header></app-global-header>
</div> -->
<div class="row">
        <!-- <p-toast position="top-right"></p-toast> -->
    <div class="col-md-3">
        <app-side-navbar></app-side-navbar>
    </div>

<div id="div2" class="col-md-9">
    <!-- <div class="row">
    <p-card class="col-md-5">
       <img src="../../../../../assets/images/products.jpg">
       <h1>Manage Products</h1> 
    </p-card>
    <p-card class="col-md-5">
        <img src="../../../../../assets/images/users.png">
        <h1>Manage Users</h1> 
    </p-card>
    <p-card class="col-md-5">
        <img src="../../../../../assets/images/blogs.jpg">
        <h1>Manage Blogs</h1> 
    </p-card>
</div> -->
    <router-outlet></router-outlet>
<!-- <app-global-footer></app-global-footer> -->

</div>

</div>
