<div class="row" id="plist">
    <div class="col-md-11" *ngFor="let entry of bList" id="insideDiv">
        <div>
            <h2 class="card-title">{{entry.blogTitle}}</h2>
            <p>{{entry.date | date:'mediumDate'}}</p>
            <img class="img-fluid" src="{{entry.blogImage}}" alt="Card image cap">
            <div class="card-block">
                <p class="card-text">{{entry.des}}</p>
        </div>
    </div>
        <div class="container">
            <button class="btn btn-danger" id="getComment" (click)="getComments(entry._id)" >Comments</button>
            <div id="comments" style="display:none;">
                <div *ngFor="let entry of commentList" >
                    <p>By: {{entry.userName}}</p>
                    <p>{{entry.comments}}</p>
                    <p>{{entry.date | date:'mediumDate'}}</p>
                    <p-rating readonly="true" [ngModel]="entry.rating"></p-rating> 
                    <hr>
                    
                </div>
                <div class="container">
                    <textarea rows="3" cols="5"  class="form-control" placeholder="Add a comment" id="comment"></textarea>
                    <p-rating [(ngModel)]="val"></p-rating>
                    <button class="btn btn-danger" id="postComent" (click)="addComment()">Post Comment</button>     
                </div> 
            </div>
        </div>
    </div>
</div>
