#plist{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 20px
}
#insideDiv{
    margin-top: 20px
}
#comment{
    margin-top: 10px;
    margin-bottom: 10px
}
#postComment{
    margin-left: 20px
}
h2{
    font-weight: bolder;
    font-style: italic
}
p{
    margin-top: 20px;
    font-style: italic
}
#getComment{
    margin-top: 20px
}
/* img{
    margin-top: 20px
} */