<!-- <div class="row" id="plist">
  <div class="col-md-4" *ngFor="let i of cartDetails" id="insideDiv">
    <div class="card">

      <img class="img-fluid" src="{{entry.productId.imagePath}}" alt="Card image cap">
  
      <div class="card-block">

        <h4 class="card-title">{{entry.productId.productName}}</h4>

        <p class="card-text">PRICE: {{entry.productRate | currency}} </p>
        <label>Quantity: </label>
        <p-spinner size="20" inputId="quant" [(ngModel)]="entry.quantity" (click)="updateQuantity(entry)"></p-spinner>
        <button type="submit" (click)="deleteItem(entry._id)" class="btn btn-primary" ripple-radius>Delete</button>
      </div>
 

    </div>
  </div>
</div> -->

<!-- <div class="shopping-cart" *ngFor="let entry of cartDetails"  >
  
 

  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img width="100px" height="100px" src="{{entry.productId.imagePath}}" alt="" />
    </div>
 
    <div class="description">
      <span>{{entry.productId.productName}}</span>
      
      <span>{{entry.productRate | currency}}</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="plus.svg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <img src="minus.svg" alt="" />
      </button>
    </div>
 
  </div>

</div> -->


<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Quantity</th>
							<th style="width:8%">Price</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let i of cartDetails">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-3 hidden-xs"><img width="100px" height="100px" src="{{i.productId.imagePath}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-9">
                    <h4 class="nomargin">{{i.productId.productName}}</h4>
                    <p-scrollPanel [style]="{width: '100%', height: '100px'}"  styleClass="custom">
                    <p>{{i.productId.description}}</p>
                  </p-scrollPanel>
									</div>
								</div>
							</td>
							<td data-th="Quantity">
								<input type="number" id="quant" class="form-control text-center" value="{{i.quantity}}" >
							</td>
							<td data-th="Subtotal" class="text-center">{{i.productRate | currency:"₹"}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm" (click)="deleteItem(i._id)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><a routerLink="/authentication/success/user/perfumes" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{totalAmount | currency}}</strong></td>
							<td><button [routerLink]="['/authentication/success/user/shippingdetails']" class="btn btn-success btn-block" *ngIf="totalAmount" [disabled]="!totalAmount">Checkout <i class="fa fa-angle-right"></i></button></td>
						</tr>
					</tfoot>
				</table>
</div>