h1{
    margin-top: 100px;
    text-align: center
}
img{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 450px
}
h3{
    margin-top: 20px;
    text-align: center
}

div{
    margin-top: 10%
}