<h1>Payment Successful</h1>
<img src="../../../../../assets/images/payment.svg">
<h3 (click)="openForm()">Click here to view Order Summary</h3>
<div id="summary" style="display: none">
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Image</th>
                    <!-- <th scope="col">Product Owner</th> -->
                    <th scope="col">Product Cost</th>
                    <!-- <th scope="col">Shipping Address</th> -->
                    <!-- <th scope="col">Phone Number</th> -->
                    <!-- <th scope="col">Status</th>
                    <th scope="col">Description</th> -->
<!--          
                    <th scope="col">Delete/Update</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger" *ngFor="let entry of cartData">
                    <td>{{entry.productId.productName}}</td>
                    <td><img src="{{entry.productId.imagePath}}"></td>
              
                    <td> ${{entry.productRate}}</td>
                    <!-- <td>{{entry.status}}</td>
                    <td>{{entry.description}}</td> -->

                    <!-- <td><span><button type="submit" class="btn btn-danger btn-sm" (click)='delete(entry._id)'><i class="fa fa-trash-o"></i></button></span><span><button type="button" id="editBtn" [routerLink]="['/authentication/success/admin/manageproduct/updateproduct',entry._id]" class="btn btn-info btn-sm"><i class="fa fa-pencil-square-o"></i></button></span></td> -->
                  </tr>
                </tbody>
              </table>

</div>