.container{
  /* margin-top: 150px; */
  padding-left: 500px;
  padding-top: 200px;
  padding-bottom: 190px;
  margin-right: 100px;
}
p{
  margin-top: 20px;
  text-align: center
}
body{
  background-image: url("../../../../../assets/images/lbg3.jpeg")
}
#loginBtn{
  width: 90%;
  margin-left: 20px
}
