<app-global-header></app-global-header>
<body>
    <p-toast position="top-left"></p-toast>
    <!-- <ngx-toast-notification></ngx-toast-notification> -->
        <!-- <div class="w3-top">
                <div class="w3-bar w3-white w3-card" id="myNavbar">
                  <a href="#home" class="w3-bar-item w3-button w3-wide">CUSH</a> -->
                  <!-- Right-sided navbar links -->
                  <!-- <div class="w3-right w3-hide-small">
                    <a routerLink="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
                    <a routerLink='/authentication/login' class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
                    <a routerLink='/authentication/signup' class="w3-bar-item w3-button"><i class="fa fa-th"></i> SIGNUP</a>
                    <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-info"></i> ABOUT</a>
                    <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
                  </div>
                </div>
              </div> -->
              
    <div class="container">
    <form [formGroup]="lForm" (ngSubmit)="onLogin()">
        <div class="col-md-7">
      <label>UserName:</label>
      <input type="text" class="form-control" formControlName="uName" placeholder="Username"><br/>
      <div *ngIf="lForm.controls['uName'].touched && !lForm.controls['uName'].valid">  
          <span *ngIf="lForm.controls['uName'].hasError('required') ">  
             Username is required  
              </span>  
              <span *ngIf="lForm.controls['uName'].hasError('minlength') ">  
               Min length is 2  
              </span>  
              <span *ngIf="lForm.controls['uName'].hasError('maxlength') ">  
              max length is 15  
          </span>  
      </div>
      </div>
      <div class="col-md-7"> 
      <label>Password:</label>
      <input type="password" class="form-control" formControlName="psword" placeholder="Password"><br/>
      <div *ngIf="lForm.controls['psword'].touched && !lForm.controls['psword'].valid">   
        <span *ngIf="lForm.controls['psword'].hasError('required') ">  
          Password is required  
           </span>   
   </div>
      <button type="submit" id="loginBtn" class="btn btn-dark" [disabled]='!lForm.valid'>Login</button> 
      <!-- <button type="button" id="forgot" class="btn btn-dark" style="margin-left: 20px">Forgot Password</button>  -->
      <p>Don't have an Account? <a routerLink="/authentication/signup"> Sign Up Now!</a></p>
    </div> 
    </form> 
</div>

</body>

