/* body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
} */
/* Full height image header */
/* .bg1 {
    background-position: center;
    background-size: cover;
    background-image: url("../../../../../assets/images/bg1.png");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
} */


