<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style>
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a class="w3-bar-item w3-button w3-wide">CUSH</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a routerLink='/authentication/login' class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
      <a routerLink='/authentication/signup' class="w3-bar-item w3-button"><i class="fa fa-th"></i> SIGNUP</a>
      <a routerLink="/about" class="w3-bar-item w3-button"><i class="fa fa-info"></i> ABOUT</a>
      <!-- <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a> -->
      <a routerLink="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a> -->
  </div>
</div>

<div class="w3-display-left w3-text-white" style="padding-left: 48px;padding-right: 48px;padding-bottom: 48px;padding-top: 200px;background-image: url('../../../../../assets/images/mbg1.jpg');background-position: center;background-size: cover; min-height: 100%;min-width: 100%;">
  <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
  <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
  <span class="w3-large">Stop wasting valuable time with perfumes that just isn't you.</span>
  <p><a routerLink="/authentication/login" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Login to explore the fragrance!</a></p>
</div> 
<div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</div>
<!-- <app-global-footer></app-global-footer> -->
